{% extends 'base.html' %}

{% block title %}
All Blog Posts - Price Action Repository
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4 text-center">Latest Blog Posts</h1>
    
    {% if blogs %}
        <div class="row">
            {% for blog in blogs %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow-sm border-0">
                        {% if blog.cover_image %}
                            <img src="{{ blog.cover_image.url }}" class="card-img-top" alt="{{ blog.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="text-muted mb-1">
                                By {{ blog.author.get_full_name|default:blog.author.username }} • 
                                {{ blog.published_at|date:"F j, Y" }} • 
                                {{ blog.reading_time }} min read
                            </p>
                            <div class="card-text">
                                {{ blog.snippet|safe|truncatewords_html:40 }}
                            </div>
                            <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-outline-primary mt-3">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No blog posts have been published yet.</p>
    {% endif %}
</div>
{% endblock %}
